* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: black;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 240px;
  gap: 20px;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
}

button {
  font-size: 1.2rem;
  appearance: none;
  border: none;
  padding: 10px;
  background-color: rgb(134, 192, 229);
  font-weight: bold;
}

.active {
  background-color: rgb(222, 129, 126);
}

iframe {
  width: 100%;
  height: 100%;
  flex: 1;
}
